@model ADSBackend.Models.StaffViewModel.Staff

@{
    ViewData["Title"] = "Create";
}
    <div class=" row wrapper border-bottom white-bg page-heading b-r-md">
        <div class="col-lg-10 ">

        <h2>Add a Counselor</h2>

       
        <hr />
            </div>
    </div>
<div class="row">
    <div class="col-md-4">
        <div class="ibox ibox-content b-r-md">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CName" class="control-label"></label>
                    <input asp-for="CName" class="form-control" />
                    <span asp-validation-for="CName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CGrade" class="control-label"></label>
                    <select asp-for="CGrade" class="form-control">
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                    <span asp-validation-for="CGrade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CEmail" class="control-label"></label>
                    <input asp-for="CEmail" class="form-control" />
                    <span asp-validation-for="CEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-block btn-success" />
                </div>
                <div>
                    <a asp-action="Index" class="btn btn-default btn-sm">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
