@model ADSBackend.Models.LinksModels.LinkItem

@{
    ViewData["Title"] = "Create";
}

<h2>Add a new link</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="ibox ibox-content b-r-md">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Link" class="control-label"></label>]\
                    <input asp-for="Link" class="form-control" />
                    <span asp-validation-for="Link" class="text-danger"></span>
                </div>
                <div class="col">
                    <label class="control-label">URL Type</label>
                    <select asp-for="Type" class="form-control">
                        <option inert>Select a tag</option>
                        <option>Tests</option>
                        <option>Scholarships</option>
                        <option>Other</option>
                    </select>
                </div>

                <hr />
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-block btn-success" />
                </div>
                <div>
                    <a asp-action="Index" class="btn btn-default btn-sm">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
