@model ADSBackend.Models.LinksModels.LinkItem

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Add a new link</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Link" class="control-label"></label>]\
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="col">
                <label class="control-label">URL Type</label>
                <select asp-for="Type" class="form-control">
                    <option inert>Select a tag</option>
                    <option>Tests</option>
                    <option>Scholarships</option>
                    <option>Other</option>
                </select>
            </div>
        
            <hr />
         
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
