@model ADSBackend.Models.HomeViewModels.HomeViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<!-- <div class="ibox">
    <div class="ibox-title">
        <h2>@Model.User.FullName's Dashboard</h2>
    </div>
    <div class="ibox-content">
        <p>Some status info here.</p>
        <a href="#" class="btn btn-success">
            <span class="fa fa-envelope"></span> Send a Message
        </a>
    </div>
</div> -->

@if (User.IsInRole("Admin"))
{
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">EAHS Guidance Backend</h1>
            <p class="lead">Welcome to the backend of the EAHS Guidance Apps</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Appointments</h5>
                </div>
                <div class="ibox-content">
                    <p>List of upcoming appointments.</p>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Date</th>
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                     
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Upcoming Events</h5>
                </div>
                <div class="ibox-content">
                    <p>Upcoming Events on the Calendar!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Configuration</h5>
                </div>
                <div class="ibox-content">
                    <p>Configuration stuff here.</p>
                    <a asp-controller="Configuration" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-cog"></span> Update Configuration
                    </a>
                </div>
            </div>
        </div>
    </div>

}
