@model ADSBackend.Models.AppointmentModel.Appointment

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="ibox ibox-content b-r-md">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Grade" class="control-label"></label>
                    <select asp-for="Grade" class="form-control">
                        <option value="Grade">9</option>
                        <option value="Grade">10</option>
                        <option value="Grade">11</option>
                        <option value="Grade">12</option>
                    </select>
                    <span asp-validation-for="Grade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Counselor" class="control-label"></label>
                    <select asp-for="Counselor" class="form-control">
                        <option>Counselor 01</option>
                    </select>
                    <span asp-validation-for="Counselor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Time" class="control-label"></label>
                    <input asp-for="Time" class="form-control" />
                    <span asp-validation-for="Time" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Desc" class="control-label"></label>
                    <input asp-for="Desc" class="form-control" />
                    <span asp-validation-for="Desc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-block btn-success" />
                </div>
                <div>
                    <a asp-action="Index" class="btn btn-default btn-sm">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    
</div>

