@model ADSBackend.Models.AppointmentModel.Appointment

@{
    ViewData["Title"] = "Create";
}

<h2>Create a new appointment</h2>

<h4>Use this to request a meeting between a counselor and a student.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="ibox ibox-content b-r-md">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Grade" class="control-label"></label>
                    <select asp-for="Grade" class="js-example-basic-single form-control select2">
                        <option value="Grade">9</option>
                        <option value="Grade">10</option>
                        <option value="Grade">11</option>
                        <option value="Grade">12</option>
                    </select>
                    <span asp-validation-for="Grade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Counselor" class="control-label"></label>
                    <select asp-for="Counselor" class="js-example-basic-single form-control select2">
                        <option inert>Select a Grade level first</option>
                        <option>Counselor 01</option>
                    </select>
                    <span asp-validation-for="Counselor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" class="form-control" value="03/04/2014">
                </div>
                <div class="form-group">
                    <label asp-for="Time" class="control-label"></label>
                    <input asp-for="Time" placeholder="Format: 0:00 AM/PM" class="form-control" />
                    <span asp-validation-for="Time" class="text-danger"></span>
                </div>
                <div class="input-group clockpicker" data-autoclose="true">
                    <label asp-for="Time" class="control-label"></label>
                    <input asp-for="Time" type="text" class="form-control" value="">
                    <span class="input-group-addon">
                        <span class="fa fa-clock-o"></span>
                    </span>
                </div>
                <div class="form-group">
                    <label asp-for="Desc" class="control-label"></label>
                    <textarea asp-for="Desc" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Desc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-block btn-success" />
                </div>
                <div>
                    <a asp-action="Index" class="btn btn-default btn-sm">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Styles {

    <link href="~/lib/Clock/clockpicker.css" rel="stylesheet">
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/datepicker.css" rel="stylesheet" />
    <link href="~/lib/Clock/clockpicker.css" rel="stylesheet" />
}

@section Scripts {

    <script src="~/js/select2.min.js"></script>
    <script src="~/js/datepicker.js"></script>
    <script src="~/lib/Clock/clockpicker.js"></script>
    <script type="text/javascript" class="js-code-example-basic-single">
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
        $("#position").select2({
            allowClear: true,
            placeholder: 'Position'
        });
    </script>
    <script type=" text/javascript" class="datepicker">
        $(document).ready(function () {
                $('.js-example-basic-single').select2();
            });
    </script>

}
